<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blogspot.nagasaimanoj.in.pianotiles">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".faded">

        </activity>
        <activity android:name=".setting">

        </activity>
        <activity android:name=".MainActivity2">
            <!-- Add any additional intent filters or configuration if needed -->
        </activity>
        <activity android:name=".MainActivity3">
            <!-- Add any additional intent filters or configuration if needed -->
        </activity>
        <activity android:name=".MainActivity4">
            <!-- Add any additional intent filters or configuration if needed -->
        </activity>
        <activity android:name=".MainActivity5">
            <!-- Add any additional intent filters or configuration if needed -->
        </activity>
        <activity android:name=".MainActivity6">
            <!-- Add any additional intent filters or configuration if needed -->
        </activity>
        <activity android:name=".MainActivity7">
            <!-- Add any additional intent filters or configuration if needed -->
        </activity>
        <activity android:name=".MainActivity8">
            <!-- Add any additional intent filters or configuration if needed -->
        </activity>
    </application>

</manifest>